{% extends 'base.html' %} {% block title %}Contact{% endblock title %} {% block
content %}
<section>
  <section class="vh-100">
    <div class="container">
      <div class="row my-5">
        <div class="col-lg-6 bg-light text-dark rounded mx-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-moon text-center mt-5 mb-2"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M14.53 10.53a7 7 0 0 1-9.058-9.058A7.003 7.003 0 0 0 8 15a7.002 7.002 0 0 0 6.53-4.47z"
            />
          </svg>
          <h3 class="text-center mt-5 mb-4">Contact</h3>
          <form class="mx-2 mb-5">
            <div class="form-group">
              <label for="input_email">Email:</label>
              <input
                type="email"
                class="form-control"
                id="input_email"
                placeholder="Email"
              />
            </div>
            <div class="form-group">
              <label for="input_password">Password:</label>
              <input
                type="password"
                class="form-control"
                id="input_password"
                placeholder="Password"
              />
            </div>
            <div class="form-row">
              <div class="form-group text-left col-lg-6">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="gridCheck"
                  />
                  <label class="form-check-label" for="gridCheck">
                    Remember me
                  </label>
                </div>
              </div>
              <div class="form-group col-lg-6">
                <a href="#"><p class="text-right">Forgot password</p></a>
              </div>
            </div>
            <button type="button" class="btn btn-primary btn-block">
              Log In
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</section>
{% endblock content %}
