{% extends 'base.html' %} {% block title %}Contact{% endblock title %} {% block
content %}
<section>
  <section class="vh-100">
    <div class="container">
      <div class="row my-5">
        <div class="col-lg-6 bg-light text-dark rounded mx-auto">
          <div class="text-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="50"
              height="50"
              fill="currentColor"
              class="bi bi-moon mt-5 mb-2"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M14.53 10.53a7 7 0 0 1-9.058-9.058A7.003 7.003 0 0 0 8 15a7.002 7.002 0 0 0 6.53-4.47z"
              />
            </svg>
          </div>
          <h3 class="text-center mt-5 mb-4">Contact Us</h3>
          <form class="mx-2 mb-5">
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationTooltip01">First name</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationTooltip01"
                  value="First name"
                  required
                />
              </div>
              <div class="col-md-6 mb-3">
                <label for="validationTooltip02">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationTooltip02"
                  value="Last name"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label for="input_email">Email</label>
              <input
                type="email"
                class="form-control"
                id="input_email"
                placeholder="Email"
              />
            </div>
            <div class="form-group">
              <label for="input_subject">Subject</label>
              <input
                type="text"
                class="form-control"
                id="input_subject"
                placeholder="Subject"
              />
            </div>
            <div class="formgroup mb-3">
              <label for="exampleFormControlTextarea1">Message</label>
              <textarea class="form-control" id="text-area" rows="3"></textarea>
            </div>
            <div class="form-row">
              <div class="form-group text-left col-lg-6">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="gridCheck"
                  />
                  <label class="form-check-label" for="gridCheck">
                    Sign up for newsletter
                  </label>
                </div>
              </div>
              <div class="form-group col-lg-6">
                <a href="#"><p class="text-right">Help</p></a>
              </div>
            </div>
            <button type="button" class="btn btn-primary btn-block">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</section>
{% endblock content %}
