{% extends 'base.html' %} {% block title %}Ade Luna Construction{% endblock
title %} {% block content %}
<section>
  <div class="jumbotron text-center vh-100 hero-background-img">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="70"
      height="70"
      fill="currentColor"
      class="bi bi-moon text-light mt-5"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M14.53 10.53a7 7 0 0 1-9.058-9.058A7.003 7.003 0 0 0 8 15a7.002 7.002 0 0 0 6.53-4.47z"
      />
    </svg>
    <h1 class="display-4 text-light">Ade Luna Construction</h1>
    <p class="lead mb-5 text-light">Think twice do it once</p>
    <a href="#services"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="70"
        height="70"
        fill="currentColor"
        class="bi bi-chevron-compact-down text-light pt-4"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"
        />
      </svg>
    </a>
  </div>
</section>

<section>
  <div class="offset-lg-2 container">
    <h1 id="services" class="text-light mb-4">Services</h1>
    <div class="row mb-3">
      <div class="col-lg-6">
        <h2>Estimation</h2>
        <p class="lead">
          We offer highly accurate estimates that are sourced through computer
          generated algorithms based on yearly pulled area data
        </p>
      </div>
      <div class="col-lg-6">
        <h2>Retrofitting</h2>
        <p class="lead">
          Our company has adopted only the best and proffesional strategies for
          retrofitting.
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6">
        <h2>Home Construction</h2>
        <p class="lead">
          One of our main prides of and joys of this company is that we work
          with 100% of our customers to find and finish a product of their
          choosing.
        </p>
      </div>
      <div class="col-lg-6">
        <h2>Remedial Repairs</h2>
        <p class="lead">
          We offer expertises that many construction companys do not offer in
          one package such as, extior and interior renovation, waterproofing,
          water/fire damage repair and much more.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
